html,
body {
    height: 100%;
    margin: 0;
}

.editor-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

#input,
#output {
    flex: 1;
    outline: none;
    border: none;
    resize: none;
    padding: 1rem;
    overflow: auto;
}

#input:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 768px) {
    #input {
        border-bottom: 2px solid #ccc;
    }
}

@media (min-width: 768px) {
    .editor-container {
        flex-direction: row;
    }

    #input {
        border-right: 2px solid #ccc;
    }
}

#themeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}

#counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #555;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    z-index: 1000;
}

