.editor-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#input,
#output {
    flex: 1;
}

@media (min-width: 768px) {
    .editor-container {
        flex-direction: row;
    }
}

#themeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
}